/* Mobil */
@media (max-width: 800px) {
  h1 {
    font-family: "Londrina Outline", sans-serif;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 20px;
    color: var(--dark-brown);
  }
  h2 {
    font-family: "Londrina Outline", sans-serif;
    text-align: center;
    font-size: 2rem;
  }

  p {
    font-size: 0.7rem;
    font-family: "Open Sans", sans-serif;
  }
}
/* SVG BAGGRUND */
.bg-svg {
  position: absolute;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.bg-svg text {
  font-size: 18px;
  fill: var(--brown);
  letter-spacing: 1px;
}

.bg-svg1 {
  position: fixed;
  width: 170%; /* ryk vandret */
  height: 25%; /* størrelse */
  opacity: 0.5;
  rotate: 210deg;
  top: 155px; /* ryk ned */
  pointer-events: none;
  z-index: -1;
}

.bg-svg2 {
  position: fixed;
  width: 150%; /* ryk vandret */
  height: 25%; /* størrelse */
  opacity: 0.5;
  rotate: 60deg;
  top: 130px; /* ryk ned */
  pointer-events: none;
}

.bg-svg3 {
  position: fixed;
  width: 190%; /* ryk vandret */
  height: 15%; /* størrelse */
  opacity: 0.5;
  rotate: 60deg;
  top: 210px; /* ryk ned */
  pointer-events: none;
}

/* HERO */
.hero {
  background-image: url(img/bagrund-forside.webp);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 60vh;
}

.hero-btn {
  text-decoration: none;
  background: var(--brown);
  color: var(--beige);
  padding: 15px 30px;
  border-radius: 50px;
  transition: 0.3s;
  /* knappen rykkes specifikt */
  position: relative;
  left: 260px;
  top: 250px;
}

.hero-btn:hover {
  background: var(--dusty-green);
}

/* SECTIONS */
section {
  padding: 120px 10%;
}

/* info section */
.info-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  min-height: 90vh;
  align-items: center;
  padding: 120px 10%;
  text-align: left;
  margin-bottom: 80px;
}
.info-section > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-title {
  font-size: 4rem;
  line-height: 1;
  color: var(--brown);
  margin-bottom: 20px;
  text-align: left;
}

.info-text {
  max-width: 400px;
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #3e2c23;
  text-align: left;
}
.info-right {
  display: flex;
  justify-content: center;
}
.info-image {
  width: 380px;
  height: 500px;
  background-image: url("img/forside-section.webp");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  filter: saturate(0.9) contrast(1.05);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.2);
  position: relative;
  border: var(--cream) solid;
}

/* info box knap */
.info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
  background: var(--brown);
  color: var(--beige);
  padding: 15px 30px;
  border-radius: 50px;
  transition: 0.3s;
}
.info-btn:hover {
  background: var(--dusty-green);
}

/* billede og links til some */

.image-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/insta.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 20rem;
  margin-top: 15rem;
}

.image-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: 0;
}

.image-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.social-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column; /* MOBILE FIRST */
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.social-overlay a {
  color: var(--cream);
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 10px;
  border: 1px solid var(--cream);
  border-radius: 50px;
  transition: 0.3s;
}

/* tema projekter på forsiden */
.cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--beige);
  border: var(--cream) solid;
  box-shadow: 2px 2px 20px var(--cream);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: flex;
}

.card-content {
  padding: 30px;
}

.card h3 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--dusty-green);
  font-family: "Londrina Outline", sans-serif;
}

.card p {
  line-height: 1.7;
  margin-bottom: 25px;
  color: black;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons a,
.buttons button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  background: var(--brown);
  color: var(--beige);
  transition: 0.3s;
}

.buttons a:hover,
.buttons button:hover {
  background: var(--dusty-green);
}

/* POPUP BAGGRUND */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3e2c2396;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* SELVE BOXEN */

.popup-content {
  background: var(--beige);
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
}

/* KNAP */
.popup-btn {
  display: block;
  margin: 1.5rem;
  padding: 12px;
  border-radius: 10px;
  background: var(--brown);
  color: var(--beige); /* tekstfarven, så den kan læses */
  text-decoration: none;
  transition: 0.3s ease;
  text-align: center;
}

.popup-btn:hover {
  background: var(--dusty-green);
}

/**************** DESKTOP ****************************/

@media (min-width: 800px) {
  /* SVG BAGGRUND */
  .bg-svg {
    position: absolute;
    top: 1500px; /* ryk den ned */
    opacity: 0.5;
    pointer-events: none;
  }
  .bg-svg text {
    font-size: 18px;
    fill: var(--brown);
    letter-spacing: 1px;
  }

  /* hero */
  .hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;

    /* bagrund på forsiden */
    background-image: url("img/image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-btn {
    text-decoration: none;
    background: var(--brown);
    color: var(--beige);
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.3s;
    /* knappen rykkes specifikt */
    position: relative;
    left: 130px;
    top: 160px;
  }

  /* info section */
  .info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    align-items: center;
    padding: 120px 10%;
    text-align: left;
  }
  .info-title {
    font-size: 4rem;
    line-height: 1;
    color: var(--brown);
    position: relative;
    text-align: left;
  }

  .info-text {
    max-width: 400px;
    font-size: 1.1rem;
    color: var(--dark-brown);
    position: relative;
    text-align: left;
  }
  .info-right {
    display: flex;
    justify-content: center;
  }
  .info-image {
    width: 380px;
    height: 500px;
    background-image: url("img/forside-section.webp");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    filter: saturate(0.9) contrast(1.05);
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.2);
    position: relative;
    border: var(--cream) solid;
  }
  /* info box knap */

  /* billede og links til some */
  .social-overlay a:hover {
    background: transparent;
    color: var(--beige);
  }
  .image-section {
    min-height: 450px;
  }

  .social-overlay {
    flex-direction: row; /* desktop bliver vandret */
    gap: 380px;
  }

  .social-overlay a {
    font-size: 1.2rem;
  }

  /* projects */

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
